:root {
	--white: #ffffff;
	--blue: #0553fc;
}

header {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgb(7, 74, 245) 0%,
		rgb(24, 24, 82) 35%,
		rgb(34, 2, 69) 100%
	);
	margin-bottom: 10px;
}

.input-group-append {
	display: flex;
	flex-direction: column;
}

#search-button {
	margin-top: 10px;
	width: 100%;
	border: 2px solid black;
	text-align: center;
	background-color: lightskyblue;
}

#today {
	padding: 10px;
}

#forecast div {
	background-color: rgba(29, 81, 252, 0.955);
	color: var(--white);
	margin-left: 10px;
	padding-top: 15px;
}

#forecast div h1 {
	font-size: 1.5rem;
}

#cityBtn button {
	margin-bottom: 2px;
	border-radius: 13px;
}

#cityBtn button:hover {
	background-color: var(--blue);
	color: var(--white);
}

.history-btn {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
}

.weather-search {
	width: 100%;
	/* background: lightcyan; */
	opacity: 0.6;
}

.current-weather-info {
	border: 2px solid var(--blue);
	padding: 15px;
	display: none;
}
